body {
  background-color: darkseagreen;
}

h1 {
  font-size: 4rem;
  color: palevioletred;
  text-align: center;
  transition: 1s;
}

h1:hover {
  color: plum;
  cursor: poiter;
}

p {
  font-size: 2rem;
  color: palevioletred;
}
